<div class="pikachoose">
		<ul id="pikame" class="jcarousel-skin-pika">
			<li><a ><img src="../Pictures/Slider/logo.png"/></a><span>Reciclando Muebles te permite donar tus muebles a compañeros.</span></li>
			<li><a ><img src="../Pictures/Slider/2.jpg"/></a><span>Ayúda a un compañero a amueblar su depa.</span></li>
			<li><a ><img src="../Pictures/Slider/3.jpg"/></a><span>El proyecto est&aacute; comenzando en otros campus de M&eacute;xico</span></li>
			<li><a ><img src="../Pictures/Slider/4.jpg"/></a><span>¡Muchas Gracias!</span></li>
			<li><a ><img src="../Pictures/Slider/5.jpg"/></a><span>Gran parte de los donadores pertenecen a la comunidad TEC</span></li>
			<li><a ><img src="../Pictures/Slider/1.jpg"/></a><span>El granito de arena que todos aportamos ayuda a que estos alumnos sigan estudiando</span></li>
		</ul>
</div>