	<link type="text/css" href="../CSS/stylesSlider/bottom.css" rel="stylesheet" />
	<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<script type="text/javascript" src="../JavaScripts/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="../JavaScripts/jquery.pikachoose.js"></script>
	<script language="javascript">
		$(document).ready(
			function (){
				$("#pikame").PikaChoose({carousel:true,carouselOptions:{wrap:'circular'}});
			});
	</script>